<mat-toolbar class="main-toolbar">
  <a class="title-image" href="https://www.etupro.fr">
    <img alt="Etupro" height="50" ngSrc="/assets/etupro_rectangle.png" priority width="163">
  </a>

  <div class="toolbar-buttons">
    <button (click)="handlePosts()" mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>
    @if (authService.isLoggedIn) {
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="handleProfile()">Profil</button>
        <button mat-menu-item (click)="handleLogout()">Déconnexion</button>
      </mat-menu>
    } @else {
      <button mat-icon-button (click)="handleRegister()">
        <mat-icon>login</mat-icon>
      </button>
    }
  </div>
</mat-toolbar>

<div [ngClass]="{handset: isHandset}" class="content-container">
  <ng-content></ng-content>
</div>
