@use '@angular/material' as mat;
@use 'theme';

.app-drawer-container {
  position: relative;
  height: 100vh;
  width: 100vw;

  .main-toolbar {
    display: flex;
    gap: 1rem;
    background-color: mat.get-theme-color(theme.$app-light-theme, primary, 50);

    .title-image {
      display: flex;
      align-items: center;
    }
  }

  .content-container {
    position: relative;
    height: calc(100vh - var(--mat-toolbar-standard-height));
    width: 100%;
    overflow: auto;
  }

}
