:host {
  position: relative;
  width: 100%;

  .comment-close-button {
    position: absolute;
    top: 16px;
    right: 16px;

    font-size: 0.5rem;
  }

  mat-card {
    width: 100%;
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    mat-card-content {
      padding-right: calc(16px + 1rem);
    }

    mat-card-footer {
      display: flex;
      justify-content: flex-end;
    }
  }
}
