<app-header [loading]="postLoading || commentLoading">
  <div class="header-title-back-container">
    <button (click)="backToPosts()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Liste des posts</h1>
  </div>
</app-header>

<div class="post-container">
  <mat-card>
    <mat-card-title>
      {{ post?.title }}
    </mat-card-title>

    @if (post?.cover) {
      <img [src]="post?.cover" [alt]="'Cover image for post'"/>
    }

    <mat-card-content>
      {{ post?.content }}
    </mat-card-content>

    <mat-card-footer>
      de {{ post?.user_profiles?.display_name ?? 'Anonyme' }}
      <mat-chip-listbox aria-label="Post tags">
        @for (tag of post?.tags; track tag) {
          <mat-chip-option [selectable]="false">{{ tag }}</mat-chip-option>
        }
      </mat-chip-listbox>
    </mat-card-footer>
  </mat-card>

  <app-publish-comment (commentPosted)="updateCommentList()" *ngIf="post?.id" [postId]="post?.id"></app-publish-comment>

  @if (post?.id) {
    <h1>Commentaires :</h1>
  }

  @if (post?.id) {
    @for (comment of comments; track comment) {
      <app-comment-card [comment]="comment" (commentDeleted)="updateCommentList()"></app-comment-card>
    }
  }

</div>
