<app-header [loading]="postLoading || commentLoading"></app-header>

<div class="post-container">
  <mat-card>
    <mat-card-title>
      {{ post?.title }}
    </mat-card-title>

    <mat-card-content>
      {{ post?.content }}
    </mat-card-content>

    <mat-card-footer>
      <mat-chip-listbox aria-label="Post tags">
        <mat-chip-option *ngFor="let tag of post?.tags" [selectable]="false">{{ tag }}</mat-chip-option>
      </mat-chip-listbox>
    </mat-card-footer>
  </mat-card>

  <app-publish-comment (commentPosted)="updateCommentList()" *ngIf="post?.id" [postId]="post?.id"></app-publish-comment>

  <h1 *ngIf="post?.id">Commentaires :</h1>

  <ng-container *ngIf="post?.id">
    <app-comment-card (commentDeleted)="updateCommentList()" *ngFor="let comment of comments"
                      [comment]="comment"></app-comment-card>
  </ng-container>

</div>
