.header-title-back-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 16px;

  > * {
    width: 750px;
    padding: 16px;
  }

  mat-card {
    display: flex;
    flex-direction: column;
    gap: 16px
  }
}
