<div class="app-page-container">
  <mat-card class="app-page-card">
    <mat-card-content>
      <mat-tab-group>

                <mat-tab>
                    <ng-template mat-tab-label>
                        Informations
                        @if (profileForm.touched) {
                            <span matBadge="{{ getErrorCount(profileForm) }}" matBadgeOverlap="false"
                                  matBadgeColor="warn"></span>
                        }
                    </ng-template>
                    <app-profile-form [form]="profileForm"></app-profile-form>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        Étudiant
                        @if (studentForm.touched) {
                            <span matBadge="{{ getErrorCount(studentForm) }}" matBadgeOverlap="false"
                                  matBadgeColor="warn"></span>
                        }
                    </ng-template>
                    <app-student-form [form]="studentForm"></app-student-form>
                </mat-tab>

      </mat-tab-group>

      <div class="form-actions">
        <button (click)="submitForms()" color="primary" mat-raised-button>Submit</button>
      </div>

    </mat-card-content>
  </mat-card>
</div>
