.app-page-container {
  max-width: 900px;
  width: 100%;
  padding: 1rem;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;

  .mat-mdc-card {
    gap: 1rem;
    padding: 1rem;
    width: 100%;

    .mat-mdc-card-content {
      white-space: pre-line;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.full-width-form-field {
  width: 100%;
}
