$black: #000;
$grey: #9C9C9C;
$light-grey: #CFD0D0;
$white: #fff;

$student-colors: (
  "main": #38a49b,
  "light": #CAE7EA,
  "dark": #005459
);

$professional-colors: (
  "main": #7B234D,
  "light": #E6BAC1,
  "dark": #4F0E2C
);

$production-colors: (
  "main": #EC6500,
  "light": #ECD37C,
  "dark": #A24700
);

$ethical-colors: (
  "main": #A3897A,
  "light": #D7C3BA,
  "dark": #48352E
);

$light-primary: (
  50 : #CAE7EA,
  100 : #c3e4e1,
  200 : #9cd2cd,
  300 : #74bfb9,
  400 : #56b2aa,
  500 : #38a49b,
  600 : #329c93,
  700 : #2b9289,
  800 : #24897f,
  900 : #17786d,
  A100 : #dafff4,
  A200 : #a7ffe5,
  A400 : #74ffd6,
  A700 : #5bffce,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$light-accent: (
  50 : #f5f9fc,
  100 : #e7eff8,
  200 : #d7e4f3,
  300 : #c7d9ee,
  400 : #bbd1eb,
  500 : #afc9e7,
  600 : #a8c3e4,
  700 : #9fbce0,
  800 : #96b5dd,
  900 : #86a9d7,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$light-error: (
  50 : #fff6f5,
  100 : #ffe9e6,
  200 : #ffdad5,
  300 : #ffcbc4,
  400 : #ffbfb8,
  500 : #ffb4ab,
  600 : #ffada4,
  700 : #ffa49a,
  800 : #ff9c91,
  900 : #ff8c80,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
