$black: #000;
$grey: #9C9C9C;
$light-grey: #CFD0D0;
$white: #fff;

$student-colors: (
  "main": #38a49b,
  "light": #CAE7EA,
  "dark": #005459
);

$professional-colors: (
  "main": #7B234D,
  "light": #E6BAC1,
  "dark": #4F0E2C
);

$production-colors: (
  "main": #EC6500,
  "light": #ECD37C,
  "dark": #A24700
);

$ethical-colors: (
  "main": #A3897A,
  "light": #D7C3BA,
  "dark": #48352E
);

$light-primary: (
  50 : #f9fcfc,
  100 : #eff8f9,
  200 : #e5f3f5,
  300 : #daeef0,
  400 : #d2ebed,
  500 : #cae7ea,
  600 : #c5e4e7,
  700 : #bde0e4,
  800 : #b7dde1,
  900 : #abd7db,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$light-accent: (
  50 : #eaecef,
  100 : #cbcfd8,
  200 : #a8afbe,
  300 : #858ea4,
  400 : #6a7691,
  500 : #505e7d,
  600 : #495675,
  700 : #404c6a,
  800 : #374260,
  900 : #27314d,
  A100 : #afd3ff,
  A200 : #7cb7ff,
  A400 : #499bff,
  A700 : #2f8dff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$light-error: (
  50 : #f7e4e4,
  100 : #eababa,
  200 : #dd8d8d,
  300 : #cf5f5f,
  400 : #c43c3c,
  500 : #ba1a1a,
  600 : #b31717,
  700 : #ab1313,
  800 : #a30f0f,
  900 : #940808,
  A100 : #ffd5dd,
  A200 : #ffa2b4,
  A400 : #ff6f8a,
  A700 : #ff5576,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
