@use '@angular/material' as mat;
@use './palettes';

$app-light-primary: mat.define-palette(palettes.$light-primary);
$app-light-accent: mat.define-palette(palettes.$light-accent);
$app-light-warn: mat.define-palette(palettes.$light-error);

$app-light-theme: mat.define-light-theme((
  color: (
    primary: $app-light-primary,
    accent: $app-light-accent,
    warn: $app-light-warn,
  )
));
