<mat-card (click)="handlePostClick()" class="post-card-container">

  <div class="post-cover-container">
    <div class="post-cover-description">
      {{ post.content }}
    </div>

    @if (coverUrl) {
      <img [src]="coverUrl" alt="post cover image" class="cover-image-16-9"/>
    }

    <app-organization-miniatures (organizationClick)="organizationClick.emit($event)"
                                 [organizations]="post.organizations ?? []"></app-organization-miniatures>
  </div>

  <div class="post-infos-container">
    <div class="post-infos-title-container">
      <h6 class="no-margin">{{ post.author_name ?? post.author?.display_name ?? 'Anonyme' }}</h6>
      <h2>{{ post.title }}</h2>
    </div>

    <mat-chip-listbox aria-label="Post tags" class="post-infos-tags">
      @if (post.emitor_status) {
        <mat-chip-option [selectable]="false"
                         class="emitor-chip"
                         (click)="handleEmitorStatusClick(post.emitor_status, $event)">{{ post.emitor_status | emitorStatus }}
        </mat-chip-option>
      }
      @if (post.departments) {
        <mat-chip-option [selectable]="false"
                         class="department-chip"
                         (click)="handleDepartmentClick(post.departments, $event)">{{ post.departments.number + ' - ' + post.departments.name }}
        </mat-chip-option>
      }
      @for (tag of post.tags; track tag) {
        <mat-chip-option [selectable]="false" (click)="handleTagClick(tag, $event)">{{ tag }}</mat-chip-option>
      }
    </mat-chip-listbox>
  </div>
</mat-card>
