@use '@angular/material' as mat;
@use 'sass:map';
@use 'palettes';
@use 'theme';

.post-card-container {
  width: 300px;
  height: 340px;

  display: flex;
  overflow: hidden;

  .post-cover-container {
    background-color: mat.get-theme-color(theme.$app-light-theme, primary, 50);
    position: relative;
    width: 100%;

    height: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    .post-cover-description {
      padding: 0.5rem;

      white-space: pre-line;
    }

    &:hover {
      img {
        display: none;
      }
    }
  }

  .post-infos-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0.5rem;
    box-sizing: border-box;

    height: 200px;

    .post-infos-title-container {
      h2, h6 {
        margin: 0;
      }

      h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .post-infos-tags {
      max-height: 80px;
      overflow: hidden;

      .department-chip {
        background-color: map.get(palettes.$ethical-colors, 'light');
      }

      .emitor-chip {
        background-color: map.get(palettes.$professional-colors, 'light');
      }
    }
  }

}
