<mat-card>
  <mat-card-title>{{ post.title}}</mat-card-title>

  @if (coverUrl) {
    <img [src]="coverUrl" alt="post cover image"/>
  }

  <mat-card-content>{{ post.content}}</mat-card-content>
  <mat-card-footer>
    de {{ post.author_name ?? post.user_profiles?.display_name ?? 'Anonyme' }}
    <mat-chip-listbox aria-label="Post tags">
      @for (tag of post.tags; track tag) {
        <mat-chip-option [selectable]="false">{{ tag }}</mat-chip-option>
      }
    </mat-chip-listbox>
  </mat-card-footer>
</mat-card>
