<mat-card class="post-card-container">

  <div class="post-cover-container">
    <div class="post-cover-description">
      {{ post.content }}
    </div>

    @if (coverUrl) {
      <img [src]="coverUrl" alt="post cover image" class="cover-image-16-9"/>
    }
  </div>

  <div class="post-infos-container">
    <div class="post-infos-title-container">
      <h6 class="no-margin">{{ post.author_name ?? post.user_profiles?.display_name ?? 'Anonyme' }}</h6>
      <h2>{{ post.title }}</h2>
    </div>

    <mat-chip-listbox aria-label="Post tags" class="post-infos-tags">
      @for (tag of post.tags; track tag) {
        <mat-chip-option [selectable]="false">{{ tag }}</mat-chip-option>
      }
    </mat-chip-listbox>
  </div>
</mat-card>
