mat-card {
  width: 300px;
  height: 300px;
  padding: 8px;

  display: flex;
  justify-content: space-between;
  gap: 8px;

  mat-card-title {
    max-height: 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  mat-card-content {
    max-height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  mat-card-footer {
    max-height: 100px;
    overflow: hidden;
  }
}
