@use 'sass:map';
@use 'palettes';

.post-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cover-image {
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.department-chip {
  background-color: map.get(palettes.$ethical-colors, 'light') !important;
}

.emitor-chip {
  background-color: map.get(palettes.$professional-colors, 'light') !important;
}
