<div class="app-page-container">
  <mat-card class="app-page-card">
    <mat-card-title class="post-title-container">
      <h1>{{ post?.title }}</h1>
      @if (isUserPost || authService.userProfileRole === 'SUPER_ADMIN') {
        <button mat-icon-button [matMenuTriggerFor]="postMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #postMenu="matMenu">
          <button mat-menu-item (click)="editPost()">
            <mat-icon>edit</mat-icon>
            <span>Modifier</span>
          </button>
          <button mat-menu-item (click)="confirmDeletePost()">
            <mat-icon>delete</mat-icon>
            <span>Supprimer</span>
          </button>
        </mat-menu>
      }
    </mat-card-title>

    <mat-card-content>
      @if (coverUrl) {
        <img [src]="coverUrl" class="cover-image" [alt]="'Cover image for post'"/>
      }

      <markdown [data]="post?.content" emoji></markdown>
    </mat-card-content>

    <mat-card-footer>
      de {{ post?.author_name ?? post?.author?.display_name ?? 'Anonyme' }}
      <mat-chip-listbox aria-label="Post tags">
        @if (post?.emitor_status) {
          <mat-chip-option [selectable]="false" class="emitor-chip">
            {{ post?.emitor_status | emitorStatus }}
          </mat-chip-option>
        }
        @if (post?.departments) {
          <mat-chip-option [selectable]="false" class="department-chip">
            {{ post?.departments?.number + ' - ' + post?.departments?.name }}
          </mat-chip-option>
        }
        @for (tag of post?.tags; track tag) {
          <mat-chip-option [selectable]="false">{{ tag }}</mat-chip-option>
        }
      </mat-chip-listbox>
    </mat-card-footer>
  </mat-card>

  <app-publish-comment (commentPosted)="updateCommentList()" *ngIf="post?.id" [postId]="post?.id"></app-publish-comment>

  @if (post?.id) {
    <h1>Commentaires :</h1>
  }

  @if (post?.id) {
    @for (comment of comments; track comment) {
      <app-comment-card [comment]="comment" (commentDeleted)="updateCommentList()"></app-comment-card>
    }
  }

</div>
