<div class="post-container">
  <mat-card>
    <mat-card-title>
      <h1>{{ post?.title }}</h1>
    </mat-card-title>

    @if (coverUrl) {
      <img [src]="coverUrl" class="cover-image" [alt]="'Cover image for post'"/>
    }

    <mat-card-content class="post-content">
      <markdown [data]="post?.content" emoji></markdown>
    </mat-card-content>

    <mat-card-footer>
      de {{ post?.author_name ?? post?.user_profiles?.display_name ?? 'Anonyme' }}
      <mat-chip-listbox aria-label="Post tags">
        @for (tag of post?.tags; track tag) {
          <mat-chip-option [selectable]="false">{{ tag }}</mat-chip-option>
        }
      </mat-chip-listbox>
    </mat-card-footer>
  </mat-card>

  <app-publish-comment (commentPosted)="updateCommentList()" *ngIf="post?.id" [postId]="post?.id"></app-publish-comment>

  @if (post?.id) {
    <h1>Commentaires :</h1>
  }

  @if (post?.id) {
    @for (comment of comments; track comment) {
      <app-comment-card [comment]="comment" (commentDeleted)="updateCommentList()"></app-comment-card>
    }
  }

</div>
