.posts-toolbar {
  display: flex;

  .filter-post-button {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }

  .filter-list {
    flex: 4;
    display: flex;
    justify-content: center;
  }

  .add-post-button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

.post-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 16px;
  box-sizing: border-box;

  position: relative;
  height: 100%;
  overflow-y: auto;

  padding: 16px;
}

.fabs-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}
