@if (!isHandset) {
  <mat-toolbar class="posts-toolbar">
    <div class="filter-post-button">
      <button (click)="navigateToSearchPosts()" color="none" mat-raised-button>
        Rechercher
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div class="filter-list">
      <mat-chip-set aria-label="Filtres">
        @if (query.emitorStatus) {
          <mat-chip (removed)="handleEmitorStatusRemoveClick()" [removable]="true">
            {{ query.emitorStatus | emitorStatus }}
            <button matChipRemove aria-label="Remove">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        }
        @if (department) {
          <mat-chip (removed)="handleDepartmentRemoveClick()" [removable]="true">
            {{ department.number + ' - ' + department.name }}
            <button matChipRemove aria-label="Remove">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        }
        @for (tag of query.tags; track tag) {
          <mat-chip (removed)="handleTagRemoveClick(tag)" [removable]="true">
            {{ tag }}
            <button matChipRemove aria-label="Remove">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        }
      </mat-chip-set>
    </div>
    <div class="add-post-button">
      <button (click)="navigateToPostCreation()" color="primary" mat-raised-button>
        Créer un post
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-toolbar>
}

<div class="post-cards-container">
  @for (post of posts; track post) {
    <app-post-card [post]="post"
                   [coverUrl]="coverUrls.get(post.cover ?? '')"
                   (postClick)="navigateToPost($event)"
                   (tagClick)="queryNavigation($event)"
                   (organizationClick)="navigateToOrganization($event)"/>
  }
</div>

@if (isHandset) {
  <div class="fabs-container">
    <button (click)="navigateToPostCreation()" class="add-post-fab" color="primary" mat-fab>
      <mat-icon>add</mat-icon>
    </button>

    <button (click)="navigateToSearchPosts()"
            [matBadgeHidden]="query.filterCount() === 0"
            [matBadge]="query.filterCount()"
            matBadgeSize="medium"
            class="search-post-fab"
            color="none"
            mat-fab>
      <mat-icon>search</mat-icon>
    </button>
  </div>
}
