.post-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 16px;
  box-sizing: border-box;

  position: relative;
  height: 100%;
  overflow: scroll;

  padding: 16px;
}

.fabs-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}
