export class AppProperties {
  public static readonly FIREBASE_CONFIG = {
    API_KEY: "",
    AUTH_DOMAIN: "",
    PROJECT_ID: "",
    STORAGE_BUCKET: "",
    MESSAGING_SENDER_ID: "",
    APP_ID: "",
    MEASUREMENT_ID: "",
  }
}

