<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      Informations
      @if (profileForm.touched && getErrorCount(profileForm) > 0) {
        <span matBadge="{{ getErrorCount(profileForm) }}" matBadgeOverlap="false"
              matBadgeColor="warn"></span>
      }
    </ng-template>
    <app-profile-form [form]="profileForm"
                      [userProfile]="userProfile"></app-profile-form>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Étudiant
      @if (studentForm.touched && getErrorCount(studentForm) > 0) {
        <span matBadge="{{ getErrorCount(studentForm) }}" matBadgeOverlap="false"
              matBadgeColor="warn"></span>
      }
    </ng-template>
    <app-student-form [form]="studentForm"
                      [studentInformations]="userProfile?.studentInformation ?? null"></app-student-form>
  </mat-tab>
</mat-tab-group>

<div class="form-actions">
  <button (click)="submitForms()" color="primary" mat-raised-button>Submit</button>
</div>
