<div class="app-page-container">
  <mat-card class="app-page-card">
    <mat-card-title>Changer de mot de passe</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="changePassword()" [formGroup]="passwordChangeForm" class="password-change-form-container">
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input [formControl]="passwordChangeForm.controls.password" [type]="hidePassword ? 'password' : 'text'"
                 autocomplete="on" matInput
                 required>
          <button (click)="hidePassword = !hidePassword" [attr.aria-label]="'Cacher le mot de passe'"
                  [attr.aria-pressed]="hidePassword" mat-icon-button
                  matSuffix type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          @if (passwordChangeForm.controls.password.errors?.['required']) {
            <mat-error>Ce champs est requis</mat-error>
          }
          @if (passwordChangeForm.controls.password.errors?.['minlength']) {
            <mat-error>Le mot de passe doit avoir au moins 8 caractères</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirmation du mot de passe</mat-label>
          <input [formControl]="passwordChangeForm.controls.confirmPassword"
                 [type]="hideConfirmPassword ? 'password' : 'text'"
                 autocomplete="off"
                 matInput
                 required>
          <button (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Cacher le mot de passe'"
                  [attr.aria-pressed]="hideConfirmPassword" mat-icon-button
                  matSuffix type="button">
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          @if (passwordChangeForm.controls.confirmPassword.errors?.['required']) {
            <mat-error>Ce champs est requis</mat-error>
          }
          @if (passwordChangeForm.controls.confirmPassword.errors?.['minlength']) {
            <mat-error>Le mot de passe doit avoir au moins 8 caractères</mat-error>
          }
        </mat-form-field>
        <mat-error *ngIf="passwordChangeForm.errors?.['passwordMismatch']">Le mot de passe et la confirmation doivent
          être
          identique
        </mat-error>
        @if (passwordChangeForm.errors?.['passwordMismatch']) {
          <mat-error>Le mot de passe et la confirmation doivent être identique</mat-error>
        }
        <button color="primary" mat-raised-button type="submit">Réinitialiser le mot de passe</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
