<div class="app-page-container">
  <mat-card>
    <mat-card-title class="post-title-container">
      <h1>Organization</h1>
      <button (click)="cancel()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-title>

    <mat-card-content>
      <form [formGroup]="organizationForm">
        <mat-form-field class="full-width-form-field">
          <mat-label>Nom</mat-label>
          <input [formControl]="organizationForm.controls.name"
                 [readonly]="readonly"
                 matInput
                 placeholder="Organization"
                 [required]="!readonly">
          @if (readonly && organizationForm.controls.name.errors?.['required']) {
            <mat-error>Ce champs est requis</mat-error>
          }
        </mat-form-field>
        @if (!readonly) {
          <app-single-picture-input (fileSaved)="handleCoverUpload($event)"></app-single-picture-input>
        } @else if (pictureUrl) {
          <img [src]="pictureUrl" [alt]="'Cover image for organization'"/>
        }
      </form>
    </mat-card-content>
    @if (isOwner) {
      <mat-card-actions>
        @if (readonly) {
          <button (click)="setFormEditMode()" color="primary" mat-button>Modifier</button>
        } @else {
          <button (click)="setFormReadOnly()" color="warn" mat-button>Annuler</button>
          <button (click)="editOrganization()" color="primary" mat-button>Sauvegarder</button>
        }
      </mat-card-actions>
    }
  </mat-card>
</div>
