<div class="app-page-container">
  <mat-card class="app-page-card">
    <mat-card-title>
      <h1>{{ userProfile ? userProfile.firstname + ' ' + userProfile.lastname : 'Profil' }}</h1>
    </mat-card-title>

    <mat-card-content>
      <p><strong>Description:</strong> {{ userProfile?.description || 'Not Provided' }}</p>
      <p><strong>Phone:</strong> {{ userProfile?.phone_number || 'Not Provided' }}</p>

      @if (userProfile?.studentInformation) {
        <h3>Student Information:</h3>
        <p><strong>Institute:</strong> {{ userProfile?.studentInformation?.study_institute }}</p>
        <p><strong>Study Label:</strong> {{ userProfile?.studentInformation?.study_label }}</p>
        <p><strong>Study Level:</strong> {{ userProfile?.studentInformation?.study_level }}</p>
        <p><strong>Skills:</strong> {{ userProfile?.studentInformation?.skills?.join(', ') }}</p>
      }

      <button (click)="navigateToEdit()" color="primary" mat-button>Edit Profile</button>
      <button (click)="navigateToSapristi()" mat-button>Sapristi</button>

      <mat-divider></mat-divider>
      <form (submit)="editProfile()" [formGroup]="profileForm">
        @if (isOwner) {
          <mat-form-field class="full-width-form-field">
            <mat-label>Email</mat-label>
            <input [formControl]="profileForm.controls.email"
                   [readonly]="readonly"
                   autocomplete="on"
                   matInput
                   placeholder="bob.razowski@etupro.com"
                   [required]="!readonly">
            @if (readonly) {
              @if (profileForm.controls.email.errors?.['required']) {
                <mat-error>Ce champs est requis</mat-error>
              }
              @if (profileForm.controls.email.errors?.['email']) {
                <mat-error>Veuillez renseigner un email valide</mat-error>
              }
            }
          </mat-form-field>
        }

        <app-organizations-autocomplete-chips-input [readonly]="readonly"
                                                    [valuesControl]="profileForm.controls.organizations"
                                                    label="Organisations"></app-organizations-autocomplete-chips-input>

        @if (isOwner) {
          <div class="form-buttons">
            @if (readonly) {
              <button (click)="setFormEditMode()" type="button" color="primary" mat-button>Modifier</button>
            } @else {
              <button (click)="setFormReadOnly()" type="button" color="warn" mat-button>Annuler</button>
              <button type="submit" color="primary" mat-button>Sauvegarder</button>
            }
          </div>
        }
      </form>
    </mat-card-content>
  </mat-card>

  <div class="user-posts-container">
    @for (post of posts; track post) {
      <app-post-card [post]="post"
                     [coverUrl]="coverUrls.get(post.cover ?? '')"
                     (postClick)="navigateToPost($event)"/>
    }
  </div>
</div>

