<div class="app-page-container">
  <mat-card class="app-page-card">
    <mat-card-title>
      <h1>Profil</h1>
    </mat-card-title>

    <mat-card-content>
      <form (submit)="editProfile()" [formGroup]="profileForm">
        <mat-form-field class="full-width-form-field">
          <mat-label>Nom complet</mat-label>
          <input [formControl]="profileForm.controls.displayName"
                 [readonly]="readonly"
                 matInput
                 placeholder="Bob Razowski"
                 [required]="!readonly">
          @if (readonly && profileForm.controls.displayName.errors?.['required']) {
            <mat-error>Ce champs est requis</mat-error>
          }
        </mat-form-field>

        @if (isOwner) {
          <mat-form-field class="full-width-form-field">
            <mat-label>Email</mat-label>
            <input [formControl]="profileForm.controls.email"
                   [readonly]="readonly"
                   autocomplete="on"
                   matInput
                   placeholder="bob.razowski@etupro.com"
                   [required]="!readonly">
            @if (readonly) {
              @if (profileForm.controls.email.errors?.['required']) {
                <mat-error>Ce champs est requis</mat-error>
              }
              @if (profileForm.controls.email.errors?.['email']) {
                <mat-error>Veuillez renseigner un email valide</mat-error>
              }
            }
          </mat-form-field>
        }

        <app-organizations-autocomplete-chips-input [readonly]="readonly"
                                                    [valuesControl]="profileForm.controls.organizations"
                                                    label="Organisations"></app-organizations-autocomplete-chips-input>

        @if (isOwner) {
          <div class="form-buttons">
            @if (readonly) {
              <button (click)="setFormEditMode()" type="button" color="primary" mat-button>Modifier</button>
            } @else {
              <button (click)="setFormReadOnly()" type="button" color="warn" mat-button>Annuler</button>
              <button type="submit" color="primary" mat-button>Sauvegarder</button>
            }
          </div>
        }
      </form>
    </mat-card-content>
  </mat-card>

  <div class="user-posts-container">
    @for (post of posts; track post) {
      <app-post-card [post]="post"
                     [coverUrl]="coverUrls.get(post.cover ?? '')"
                     (postClick)="navigateToPost($event)"/>
    }
  </div>
</div>

