<div class="app-page-container">
  <mat-card class="app-page-card">
    <mat-card-title>Réinitialiser le mot de passe</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="resetPassword()" [formGroup]="passwordResetForm" class="password-reset-form-container">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input [formControl]="passwordResetForm.controls.email" autocomplete="on" matInput
                 placeholder="email@etupro.fr"/>
          @if (passwordResetForm.controls.email.errors?.['required']) {
            <mat-error>Ce champs est requis</mat-error>
          }
          @if (passwordResetForm.controls.email.errors?.['email']) {
            <mat-error>Veuillez renseigner un email valide</mat-error>
          }
        </mat-form-field>
        <button color="primary" mat-raised-button type="submit">Réinitialiser le mot de passe</button>
        <div class="bottom-form-links">
          <a href="/auth/login">Connexion</a>
          <a href="/auth/register">Inscription</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
