<app-header></app-header>

<div>
  <h1>Créer un post</h1>

  <form [formGroup]="postForm">
    <mat-form-field class="title-form-field">
      <mat-label>Titre</mat-label>
      <input matInput [formControl]="postForm.controls.title">
    </mat-form-field>

    <mat-form-field class="content-form-field">
      <mat-label>Description</mat-label>
      <textarea matInput [formControl]="postForm.controls.content"></textarea>
    </mat-form-field>

    <app-tags-input [control]="postForm.controls.tags"></app-tags-input>

  </form>

  <button mat-raised-button>Publier</button>
</div>
