.create-post-container {
  width: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 8px
  }
}
