<div class="create-post-container">
  <h1>Créer un post</h1>

  <form [formGroup]="postForm">
    <mat-form-field class="title-form-field">
      <mat-label>Titre</mat-label>
      <input matInput [formControl]="postForm.controls.title">
      <mat-error *ngIf="postForm.controls.title.hasError('required')">
        Le titre est <strong>requis</strong>
      </mat-error>
    </mat-form-field>

    <app-single-picture-input (fileSaved)="handleCoverUpload($event)"></app-single-picture-input>

    <app-markdown-editor [controller]="postForm.controls.content"></app-markdown-editor>

    <mat-form-field class="author-form-field">
      <mat-label>Auteur</mat-label>
      <input [formControl]="postForm.controls.author" matInput>
    </mat-form-field>

    <app-tags-autocomplete-inputs [valuesControl]="postForm.controls.tags"></app-tags-autocomplete-inputs>

  </form>

  <button (click)="createPost()" color="primary" mat-raised-button>Publier</button>

  <app-post-card-preview [coverUrl]="coverUrl" [post]="postPreview"></app-post-card-preview>
</div>
