<div class="app-page-container">
  <mat-card class="app-page-card">
    <mat-card-title class="post-title-container">
      <h1>Modifier un post</h1>
      <button (click)="cancel()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-title>

    <mat-card-content>
      <form [formGroup]="postForm">
        <mat-form-field class="full-width-form-field">
          <mat-label>Titre</mat-label>
          <input [formControl]="postForm.controls.title" matInput>
          <mat-error *ngIf="postForm.controls.title.hasError('required')">
            Le titre est <strong>requis</strong>
          </mat-error>
        </mat-form-field>

        <app-single-picture-input (fileSaved)="handleCoverUpload($event)"></app-single-picture-input>

        <app-markdown-editor [controller]="postForm.controls.content"></app-markdown-editor>

        <app-user-select-input [valueControl]="postForm.controls.author"
                                     [required]="true"
                               label="Autheur"></app-user-select-input>

        <app-department-select-input [required]="true"
                                     [valueControl]="postForm.controls.departmentCode"></app-department-select-input>

        <app-emitor-status-select-input [required]="true"
                                        [valueControl]="postForm.controls.emitorStatus"></app-emitor-status-select-input>

        <app-post-lifecycle-select-input [required]="true"
                                         [valueControl]="postForm.controls.lifecycle"></app-post-lifecycle-select-input>

        <app-organizations-autocomplete-chips-input
          [valuesControl]="postForm.controls.organizations"></app-organizations-autocomplete-chips-input>

        <app-tags-autocomplete-chips-input [valuesControl]="postForm.controls.tags"></app-tags-autocomplete-chips-input>

      </form>
    </mat-card-content>

    <mat-card-footer>
      <button (click)="saveForm()" color="primary" mat-raised-button>Sauvegarder</button>
    </mat-card-footer>
  </mat-card>

  <app-post-card-preview [coverUrl]="coverUrl" [post]="postPreview"></app-post-card-preview>
</div>
