<mat-form-field class="values-form-field">
  <mat-label>{{ label | titlecase }}</mat-label>
  <mat-chip-grid #chipGrid aria-label="Séléction des valeurs">
    @for (value of values; track value) {
      <mat-chip-row (removed)="remove(value)">
        {{ value }}
        <button [attr.aria-label]="'supprimer  ' + value" matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
  </mat-chip-grid>
  <input #valueInput [formControl]="tagInputControl"
         [matAutocomplete]="auto"
         [matChipInputFor]="chipGrid"
         placeholder="Nouvelle valeur..."
         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
         (matChipInputTokenEnd)="add($event)"/>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let value of filteredValues" [value]="value">
      {{ value }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
