<app-header [loading]="postsLoading">
  <div class="post-cards-header">
    <h1 class="header-flex-1">{{ posts.length }} posts</h1>
    <app-search-bar (searchUpdate)="handleTagSearch($event)" class="header-flex-3"></app-search-bar>
    <button (click)="navigateToPostCreation()" class="header-flex-1" mat-raised-button>Créer un post</button>
  </div>
</app-header>

<div class="post-cards-container">
  <app-post-card (click)="navigateToPost(post)" *ngFor="let post of posts" [post]="post"/>
</div>
