@use 'sass:map';
@use 'palettes';

.post-infos-tags {

  .lifecycle-chip {
    background-color: map.get(palettes.$student-colors, 'light');
  }

  .department-chip {
    background-color: map.get(palettes.$ethical-colors, 'light');
  }

  .emitor-chip {
    background-color: map.get(palettes.$professional-colors, 'light');
  }
}
